* {
    margin: 0;    
    font-family: 'Inter', sans-serif;
}

html {
    background-color: #0033CC;
}

body {
    /* background-image: url('imgs/bglogin.jpg'); */
    background: linear-gradient(to bottom, #0A0F1E 0%, #0033CC 100%);
    height: 100vh;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
}

.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0A0F1E;
    width: 30%;
    min-width: 400px;
    max-width: 500px;
    padding: 40px 20px;
    border-radius: 20px;
    box-shadow: 0px 5px 20px 5px #020506;
}

img {
    width: 70%;
    max-width: 300px;
    margin: 20px auto 40px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 70%;
    height: 3em;
    background-color: #0A0F1E;
    border: none;
    border-bottom: 2px solid #727272;
    margin-bottom: 30px;
    color: #f5f5f5;
    padding: 0 10px;
    font-size: 1em;
}

input::placeholder {
    color: #f5f5f5;
    opacity: 1;
}

button {
    width: 70%;
    height: 3.5em;
    border-radius: 40px;
    margin: 20px auto;
    background-color: #f5f5f5;
    border: none;
    color: #0A0F1E;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #0033CC;
    color: #f5f5f5;
}

a {
    display: block;
    color: #f5f5f5;
    text-decoration: none;
    margin-left: 223px;
    border-top: 0;
    font-size: 0.8em;
}

a:hover {
    color: #0033CC;
    cursor: pointer;
    transition: 0.5s;
}

@media screen and (max-width: 600px) {
    .signup-container {
        min-width: 300px;
        width: 90%;
        padding: 20px 10px;
    }
    
    input, button {
        width: 85%;
    }
}